h1 {
    border-radius: 15px;
    text-align: center;
    background-color: coral;
    color: brown;
}

h2 {
    border-radius: 15px;
    text-align: center;
    background-color: bisque;
    color: chocolate;
    
}

p,
li {
    text-align: center;
    list-style-type: none;
}

body {
    background-color: bisque;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 15px;
}

.center2 {
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 15px;
    width: 20%;
}

.flex_container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    
}

.flex_container>div {
    border: 2px solid turquoise;
    border-radius: 20px;
    width: 650px;
    height: auto;
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: rgb(236, 246, 255);
}


.Ing{
    border: 2px solid orange;
    border-radius: 20px;
    background-color: aliceblue;
}

a:link{
    color: blue;
}

a:visited{
    color: pink;
}

a:hover{
    color:red;
}

.step4_pic {
    
    text-align: center;
}

.grid-container{
    display: grid;
    grid-template-columns: 10% auto 20%;
    grid-gap: 10px;
}

.grid-container > div{
    border: 1px solid black;
    font-size: 20px;
    text-align: center;
    background-color:white;
} 

#header{
    grid-column: 1 / span 3;
}

#menu{
    grid-column: 1 / span 1;
}

#main{
    grid-column: 2 / span 1;
}
#right{
    grid-column: 3 / span 1;
}

#footer{
    grid-column: 1 / span 3;
} 

 @media only screen and (max-width: 500px){
    body{
        background-color: rgb(193, 247, 238);
    }
} 


 @media only screen and (max-width: 767px){
    .grid-container{
        display: grid;
        grid-template-columns: auto 20%;
        grid-gap: 10px;
    }
    #header{
        grid-column: 1 / span 2;
    }
    
    #menu{
        grid-column: 1 / span 2;
        text-align: left;
    }
    
    #menu div{
        display: inline-block;
    }

    #main{
        grid-column: 1 / span 1;
    }
    #right{
        grid-column: 2 / span 1;
    }
    #footer{
        grid-column: 1 / span 2;
    }
} 

 @media only screen and (max-width: 500px){
    .grid-container{
        display: grid;
        grid-template-columns: auto;
        grid-gap: 10px;
    }
    #header{
        grid-column: 1 / span 1;
    }
    
    #menu{
        grid-column: 1 / span 1;
    }
    
    #main{
        grid-column: 1 / span 1;
    }
    #right{
        grid-column: 1 / span 1;
    }
    #footer{
        grid-column: 1 / span 1;
    }
    h1 {
        border-radius: 15px;
        text-align: center;
        background-color: rgb(80, 255, 197);
        color: rgb(0, 131, 87);
    }
    
    h2 {
        border-radius: 15px;
        text-align: center;
        background-color: rgb(147, 255, 179);
        color: rgb(0, 145, 31);
        
    }
}  


#main img{
    width:100%;
}
#right img{
    width: 100px;
}
#right div{
    margin-bottom: 20px;
} 